body{
    margin:0;
    padding:0;
    background:#f6f1eb;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
}

.chat-container{
    width:390px;
    background:white;
    margin-top:25px;
    border-radius:14px;
    box-shadow:0 0 20px rgba(0,0,0,.1);
    overflow:hidden;
}

.chat-header{
    background:#6b3e26;
    color:white;
    padding:14px;
    text-align:center;
}
.chat-header h2{
    margin:0;
}

.chat-box{
    height:380px;
    overflow-y:auto;
    padding:15px;
    background:#fffaf6;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.message{
    max-width:80%;
    padding:10px;
    border-radius:10px;
    line-height:1.3;
}

.bot{
    background:#f0e5d8;
    align-self:flex-start;
}

.user{
    background:#d8c2a7;
    align-self:flex-end;
}

.buttons{
    padding:14px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

.buttons button{
    background:#6b3e26;
    color:white;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}

.buttons button:hover{
    background:#8c5639;
}

.input-area{
    display:flex;
    gap:6px;
    padding:12px;
    border-top:1px solid #e5d8ce;
}

.input-area input{
    flex:1;
    padding:10px;
    border:1px solid #d7c9b8;
    border-radius:6px;
}

.input-area button{
    background:#6b3e26;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:6px;
    cursor:pointer;
}

.input-area button:hover{
    background:#532f1f;
}

.btn-option{
    display:inline-block;
    background:#6b3e26;
    color:white;
    padding:8px 12px;
    border-radius:8px;
    margin:6px 4px;
    cursor:pointer;
    text-decoration:none;
}

.btn-option:hover{
    background:#4f2a1b;
}

.see-more{
    color:#6b3e26;
    font-weight:bold;
    cursor:pointer;
    text-decoration:underline;
}

.hidden{
    display:none;
}
