body {
    background: #f2e7dc;
    font-family: 'Arial', sans-serif;
}

.chat-container {
    width: 100%;
    max-width: 430px;
    margin: auto;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 0 12px #0003;
}

.header {
    background: #6b3e26;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 14px 14px 0 0;
}

.chatbox {
    height: 520px;
    overflow-y: auto;
    padding: 18px;
}

.message {
    margin: 12px 0;
    padding: 14px;
    border-radius: 10px;
    max-width: 80%;
    line-height: 1.4;
}

.user {
    background: #d1ffd1;
    margin-left: auto;
}

.bot {
    background: #ffe8d6;
    margin-right: auto;
}

.input-area {
    display: flex;
}

input {
    flex: 1;
    padding: 14px;
    border: none;
    border-top: 1px solid #ccc;
}

button {
    padding: 14px 18px;
    border: none;
    background: #6b3e26;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #4e2a17;
}

.btn-option {
    display: inline-block;
    background: #6b3e26;
    color: white;
    padding: 9px 12px;
    border-radius: 8px;
    margin: 6px 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-option:hover {
    background: #4e2a17;
}

.section-title {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}

.spaced {
    margin-bottom: 16px;
}

.clean-space {
    margin-top: 14px;
}
